$color-brand: orange;
$color-background: #e6e6e6;
$font-main: grey;
$color-link: blue;


$content-width: 1200px;
$tablet-wirth: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
}

header {
    background: $color-brand;
}

.container {
    width: 1020px;
    margin: auto;
    outline: 1px solid;
}

.keyboard__input {
    width: 100%;
    height: 300px;
    font-size: 21px;
    padding: 6px;
    color: #7f7f7f;
}

.keyboard {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;

    &__button {
        padding: 29px;
        margin: auto;
        margin-bottom: 5px;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #d2d0d0;
        background: white;
        transition: 0.3s ease-in-out;
        position: relative;
        &:hover {
            background: #ebebe9;
        }
        &--ssss {
            text-transform: uppercase;
        }
    }
    &__button[data-code="Enter"] {
        width: 130px;
    }
    &__button[data-code="ShiftRight"], &__button[data-code="ShiftLeft"] {
        width: 125px;
    }

    &__button[data-code="Space"] {
        width: 355px;
    }

    &__button[data-code="Backspace"] {
        width: 121px;
    }

    &__button[data-code="CapsLock"] {
        width: 106px;
    }

    &__button[data-code="ArrowRight"] {
        margin-right: 63px;
    }

    & span {
        position: absolute;
        opacity: 0.3;
        margin-left: 10px;
        margin-top: -20px;
        &.layout--active  {
            opacity: 1;
            margin-left: -5px;
            margin-top: 0px;
        }

        &.layout-stable {
            opacity: 1;
            margin-left: -15px;
            margin-top: -7px;
        }

    }
}
.active {
    background: $color-brand;
}

